*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;


}
.navbar-brand img{
    height: 46px;
    padding-left: -4px;

}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    margin-top: -6px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
   }
   
   .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(39, 72, 116) 0%, rgb(38, 67, 131) 100%);
    z-index: -1;
   }
   

   
   
   .navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
   }
   
   .navbar a:hover {
    color: rgb(0, 255, 255);
   }
   
   
   #check {
    display: none;
   }
   
   .icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
   }




body {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)),url(image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
   }
.head{
    color: rgb(251, 248, 248);
    font-size: 50px;
    margin-left: 675px;
    margin-top: 68px;
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
   animation: movedown 1s linear forwards;
   opacity: 0;
}
@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}






.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;

}
.left-container{
    left: 0;
}
.right-container{
    left: 50%;
}
.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}
.right-container img{
    left: -20px;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}



.text-box h2{
    font-weight: 600;
}
.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}
@media screen and (max-width: 600px) {
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
.text-box small{
    margin-bottom: 10px;
}
.right-container{
    left: 0;
}
.left-container img, .right-container img{
    left: 10px;
}
.left-container-arrow, .right-container-arrow{
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
}
}
 

label{
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background-color: rgb(7, 72, 168);
    padding: 3px 13px;
    border-radius: 3px;
    margin-top: 12px;
}
#ch {
    display: none;
}
#ch:checked ~ .content{
    display: block;
}
#ch:checked ~ label{
    display: none;
}
.content{
    display: none;
}
#ch:checked ~ .content{
    display: block;
}
#ch1 {
    display: none;
}
#ch1:checked ~ .content{
    display: block;
}
#ch1:checked ~ label{
    display: none;
}
.content{
    display: none;
}
#ch1:checked ~ .content{
    display: block;
}
#ch2 {
    display: none;
}
#ch2:checked ~ .content{
    display: block;
}
#ch2:checked ~ label{
    display: none;
}
.content{
    display: none;
}
#ch2:checked ~ .content{
    display: block;
}
#ch3 {
    display: none;
}
#ch3:checked ~ .content{
    display: block;
}
#ch3:checked ~ label{
    display: none;
}
.content{
    display: none;
}
#ch3:checked ~ .content{
    display: block;
}
.heading{
    color: rgb(254, 254, 254);
    font-size: 40px;
    margin-left: 200px;
    margin-top: -800px;
}
.anasav{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
        min-height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)),url(image.jpeg.jpg) no-repeat;
        background-size: cover;
        background-position: center;
       }

.anas{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}


/* Buttons */
.btn{
	width: 100%;
	border: 1px solid white !important;
	border-radius: 0px !important;
    background: linear-gradient(to top, rgb(9, 32, 63) 0%, rgb(32, 32, 32) 100%);
    color:white;
    font-weight: 600 !important;
}
.btn:hover{
    background: linear-gradient(to top, rgb(9, 32, 63) 0%, rgb(32, 32, 32) 100%);
    color: rgb(0, 255, 255);
}
/* Buttons */

.container2{
    width: 100%;
    min-height: 100%vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
}
.content-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-section .card{
    flex: 1;
    margin: 20px 20px;
    box-shadow: 0px 2px 8px 0px rgb(0, 0, 0,0.2);
}
.content-section .card img {
    width: 95%;
    height: 200px;
}
.content-section .card h2{
    margin: 15px 0px;
    font-size: 28px;
    color: #1662a1;
    font-family: sans-serif;

}
.content-section .card p{
    font-size: 16px;
    line-height: 1.5;
    padding: 0px 10px;
    margin-bottom: 20px;
    font-family: sans-serif;

}

.col-md-2 {
    flex: 0 0 auto;
    width: 34.666667%;
}
.col-md-2{
    margin-left: 160px;
}
.col-md-3{
    margin-left: 160px;
}
hr{
    background-color: #fff;
}.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}
/*--------------footer Section-------------------------------*/
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to top, rgb(55, 96, 150) 0%, rgb(5, 19, 49) 100%);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-box {
    display: flex;
    align-items: center;
    margin: 10px;
}

.footer-box .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to top, rgb(39, 72, 116) 0%, rgb(38, 67, 131));
}

.footer-text {
    color: #fff;
    font-size: 14px;
    margin: 10px;
}

.footer-text a {
    color: #fff;
}
